{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "syntax": "scss",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-after-same-name-blockless",
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "each",
          "else",
          "extend",
          "function",
          "if",
          "error",
          "include",
          "mixin",
          "return"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ]
  }
}